.todos-wrapper {
  background-color: rgba(245, 245, 245, 0.5);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 30px;
  max-width: 850px;
}

.todos-wrapper h3 {
  font-weight: 500;
  color: rgb(59, 59, 59);
}

.todos {
  width: 100%;
}

form {
  display: flex;
  width: 100%;
}

form input {
  border: none;
  padding: 15px 10px;
}

#todoInput {
  width: 70%;
}

input[type='submit'] {
  width: 30%;
  letter-spacing: 2px;
  font-weight: bolder;
  color: rgb(59, 59, 59);
  cursor: pointer;
}

input[type='submit']:hover {
  background-color: rgb(184, 184, 184);
  color: #fff;
}

/* completed todo's style */
.done-items {
  max-width: 950px;
  padding: 30px;
}

.completed-todos {
  display: flex;
  justify-content: center;
  align-items: center;
}

.completed-todos-btn {
  border: none;
  background-color: transparent;
  height: fit-content;
  padding: 7px;
  border-radius: 50%;
  transition: 0.3s;
}

.completed-todos-btn:hover {
  cursor: pointer;
  font-size: 1.3em;
}
